export(A.KB,
 D.KB,
 E.KB,
 C.Sato,
 Cstar,
 G,
 Gnormed,
 Gnormed.poly,
 Gpoly,
 Ht,
 lz,
 lzpoly,
 lzstar,
 NCI,
 r.pbis,
 U3,
 U3poly,
 ZU3,
 cutoff,
 flagged.resp,
 PerFit,
 plot.PerFit,
 PRFplot,
 print.PerFit,
 summary.PerFit
)
 
importFrom(irtoys,est,mlebme,wle)
importFrom(ltm,gpcm,grm,factor.scores)
importFrom(Matrix,bdiag)
importFrom(Hmisc,rMultinom)
importFrom(MASS,write.matrix)
importFrom(fda,create.bspline.basis,eval.basis,fd)

S3method("plot", "PerFit")
S3method("print", "PerFit")
S3method("summary", "PerFit")
